.header {
  width: 100%;
  position: fixed;
  height: 70px;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.7s;
  margin-bottom: 50px;

  &-box {
      width: 90%;
      max-width: 1140px;
      height: 100%;
      margin: 0 auto;
      padding: 0 15px;


      nav {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

  }

  &-flags {
      min-width: 50px;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul {
          transition: all 0.5s ease;
          display: flex;
          align-items: center;
          padding: 0 4px 10px 4px;
          position: relative;
          top: 10px;

          &:hover {
              padding-left: 6px;

              .english, .georgian  {
                  max-width: 22px !important;
                  width: 100%;
              }
          }

          .english {
              width: 0;
          }
      }
   }

  &-flag {
      max-width: 22px;
      width: 100%;
      height: 14px;
      transition:  0.7s;

      img {
          width: 100%;
          height: 100%;
          cursor: pointer;
      }
  }

  &-logo {
      cursor: pointer;
  }
}

.header-bg {
  background-color: rgba(32,36,46,.65);
}

.to-eng {
  flex-flow: row-reverse;
  .english {
      width: 22px !important;
  }

  .georgian {
      width: 0 !important;
  }
}

.to-geo {
  flex-flow: row;
  .english {
      width: 0 !important;
  }

  .georgian {
      width: 22px !important;
  }
}



@media (max-width: 1020px) {
  .header {
      &-box{
          max-width: 590px;
      }
  }
}


@media (max-width: 680px) {
  .header {
      height: 50px;
      &-box {
          max-width: 480px;
          padding: 0;
      }
  }
}
