.slider {
  max-width: 1120px;
  height: 400px;
  margin: 45px auto;
  padding: 5px 0;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  background: url("../../assets/images/slider-bottom.png");
  background-repeat: no-repeat;
  background-position-y: 120%;
  background-position-x: 50%;

  &-box {
      height: 80%;
      padding: 0 20px;
      overflow: hidden;
      width: 90%;
      margin:  0 auto;
  }

  &-boxinner {
      height: 100%;
      min-width:max-content;
      display: flex;
      gap: 200px;
      position: relative;
      transition: all 0.9s;
      align-items: center;
      z-index: 10;
  }

 &-bgimg{
     position: absolute;
     width: 100%;
     height: 350px;
     display: flex;
     justify-content: space-between;

     .rightbg {
       border-radius: 50px 0 0 60px;
     }

     .leftbg {
      border-radius: 50px 0 0 60px;
     }
     &-bg {
      width: 86px;
      height: 332px;
      z-index: -1;
      box-shadow: rgba(70, 70, 87, 0.26) 0px 22px 70px 4px;
  }
 }

 .active {
  width: 350px;
  height: 215px;
  position: relative;
  top: -20px;


  .slider-percent {
      width: 120px;
      height: 58px;
      font-size: 30px;
  }

  .Num {
      width: 180px;
      height: 54px;
      top: -29px;
      font-size: 24px;
  }
}


  &-item {
      height: 190px;
      width: 215px;
      min-width: 215px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: rgba(61, 12, 146, 0.9);
      // background-image: url("../../assets/images/bg.svg");

      .Num {
          width: 140px;
          height: 40px;
          border-radius: 27px;
          background-color: #ffffff;
          position: relative;
          top: -23px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 18px;
      }

      .slider-percent {
          width: 115px;
          height: 50px;
          border-radius: 5px;
          background-color: rgba(43, 18, 81, 1);
          color: #fff;
          font-size: 22px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          top: -20px;
      }

      .progressbox {
          width: 100%;
          background: none;
          color: #fff;
          padding: 0 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow: visible;
          gap: 8px;

          &::after {
            content: "35";
            width: 50px;
            height: 40px;
            background: url("../../assets/images/slider_icon.png");
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            left: -45%;
            margin-top: -35px;
            z-index: 5;
            display: flex;
            justify-content: center;
            text-align: center;
            color: #000;
            font-weight: bold;
            font-size: 16px;
          }


          .progress-bar {
              width: 90%;
              height: 20px;
              border-radius: 8px;
              border: 3px solid rgba(187, 183, 183, 0.15);
              padding: 2px;
              display: flex;

              .progress-bg {
                  width: 65%;
                  height: 90%;
                  border-radius: 5px;
                  background-color: #1bbb2b;
              }
          }

          span {
              position: relative;
              top: 2px;
          }
      }
  }

  &-iconsbox {
      position: absolute;
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 25%;
      align-self: center;
      z-index: 999;
      bottom: 50%;

      .iconone {
          width: 45px;
          height: 45px;
          background-color: rgb(255, 255, 255);
          cursor: pointer;
          color: rgb(83, 13, 99);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          font-weight: bolder;
      }

  }
}

.playbox {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-btn {
      color: #fff;
      cursor: pointer;
      font-size: 1.5em;
      background-color: rgba(255, 22, 68, 1);
      transition:0.15s;
      border-radius: 10px;
      padding: 0.7em 2em;
      text-decoration: none;
      font-weight: bold;

      &:hover {
          transform: scale(.95);
          background-color: aqua;
      }
  }
}



@media (max-width: 1200px) {
  .slider {
      &-iconsbox {
          bottom: 55%;
          &-iconeone {
              width: 40px;
              height: 40px;
          }
      }
  }
}



@media (max-width: 992px) {
  .slider {
      width: 800px;
      background-position-y: 105%;

      &-item {
          width: 180px;
          height: 170px;
          min-width: 0;
      }

      &-boxinner {
          gap: 160px;
      }

      .active {
          width: 215px;
          height: 190px;
      }
  }
}


@media (max-width: 800px) {
  .slider {
      width: 500px;
      background-position-y: 100%;

      &-item {
          width: 150px;
          height: 140px;
          min-width: 0;
      }

      .active {
          width: 200px;
          height: 180px;
      }

      &-iconsbox {
          bottom: 55%;
          &-iconeone {
              width: 25px;
              height: 25px;

              img {
                  width: 50%;
              }
          }
      }
  }
}

