/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../src/assets/images/page-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}
li {
  list-style: none;
}
